 <div class="intro-header" style="margin-top:-30px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>ShareBox</h1>
                        <h2>It's free and always</h2>                                      
                    </div>
                </div>
            </div>
        </div>
</div>

<!-- about us -->
<div id="g">
		<div class="container">
			<div class="row">
				<h3>ABOUT US</h3>
				<div style="height:20px;"></div>
				<div class="col-lg-6 team">
					<img class="img-circle" src="img/team01.jpg" height="90" width="90">
					<h4>Qing Guo</h4>
					<h5><i>Front-end Developer</i></h5>
					<p>I am a Duke Graduate student of Electrical and Computer Engineering. I have rich software development experience. I am a self-starter, eager to make progress and ready to work with enthusiastic and positive teammates.</p>
					<p style="line-height: 28px; margin-bottom: 25px;">
						<a target="_blank" href="https://www.facebook.com/people/Qing-Guo/100010565502218"><i class="icon-facebook"></i></a>
						<a target="_blank" href="https://www.linkedin.com/in/logicmonster"><i class="icon-linkedin"></i></a>
						<a target="_blank" href="https://github.com/LogicMonsters"><i class="icon-github"></i></a>
					</p>
				</div>

				<div class="col-lg-6 team">
					<img class="img-circle" src="img/team02.jpg" height="90" width="90">
					<h4>Guodong Hu</h4>
					<h5><i>Back-end Developer</i></h5>
					<p>I am a results-driven and hardworking person who is always open to take challenges and learn new technologies. I enjoy teamwork and I want to join an excellent team to make something great.</p>
					<p style="line-height: 28px; margin-bottom: 25px;">
						<a target="_blank" href="https://www.facebook.com/guodong.hu.37"><i class="icon-facebook"></i></a>
						<a target="_blank" href="https://www.linkedin.com/in/guodong-hu-661545a5"><i class="icon-linkedin"></i></a>
						<a target="_blank" href="https://github.com/guodonghu"><i class="icon-github"></i></a>
					</p>
				</div>
			</div>
		</div><!-- /container -->
	</div>
<style>
.team {
	padding-top: 20px;
}
.team:hover {
	background: white;
}
.team a {
	padding-right: 10px;
	padding-left: 10px;
}
#g {
	 background: #f2f2f2; 
	 padding-top: 35px; 
	 padding-bottom: 35px; 
	text-align: center;
	}
</style>
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
